<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Filial</title>
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<h1 th:text="${#fields.hasErrors()} ? 'Corrija os erros abaixo' : ( ${filial.id} != null ? 'Editar Filial' : 'Nova Filial')"></h1>

<form th:action="@{/filiais/salvar}" method="post" th:object="${filial}">

    <!-- Nome -->

    <div>
        <label for="nome">Nome:</label>
        <input type="text" id="nome" th:field="*{filial.nome}" required>
        <span th:if="${#fields.hasErrors('nome')}" th:errors="*{filial.nome}"></span>
    </div>



    <!-- Cidade -->
    <div>
        <label for="cidade">Cidade:</label>
        <input type="text" id="cidade" th:field="*{filial.cidade}" required>
        <span th:if="${#fields.hasErrors('cidade')}" th:errors="*{filial.cidade}"></span>
    </div>

    <!-- País -->
    <div>
        <label for="pais">País:</label>
        <input type="text" id="pais" th:field="*{filial.pais}">
        <span th:if="${#fields.hasErrors('pais')}" th:errors="*{filial.pais}"></span>
    </div>

    <div>
        <button type="submit">Salvar</button>
        <a th:href="@{/filiais}">Cancelar</a>
    </div>
</form>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
