<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Filial</title>
    <link rel="stylesheet" th:href="@{/assets/css/global-styles.css}" />
</head>
<body>
<header th:replace="fragments/header :: header"></header>

<!-- <h1 th:text="${#fields.hasErrors()} ? 'Corrija os erros abaixo' : ( ${filial.id} != null ? 'Editar Filial' : 'Nova Filial')"></h1> -->

<div class="container">
    <h2 th:text="${filial?.id} != null ? 'Editar Filial' : 'Nova Filial'"></h2>

    <form th:action="@{/filiais/salvar}" method="post" th:object="${filial}">

        <div>
            <label for="nome">Nome:</label>
            <input type="text" id="nome" th:field="*{nome}" required>
            <span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>

        </div>

        <div>
            <label for="cidade">Cidade:</label>
            <input type="text" id="cidade" th:field="*{cidade}" required>
            <span th:if="${#fields.hasErrors('cidade')}" th:errors="*{cidade}"></span>
            <!-- -->
        </div>

        <div>
            <label for="pais">País:</label>
            <input type="text" id="pais" th:field="*{pais}">
            <span th:if="${#fields.hasErrors('pais')}" th:errors="*{pais}"></span>
            <!--  -->
        </div>

        <div>
            <button type="submit">Salvar</button>
            <a th:href="@{/filiais}">Cancelar</a>
        </div>

    </form>
</div>



<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>
