<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Novo Usuário</title>
</head>
<body>
<h2>Cadastrar Novo Usuário</h2>

<form th:action="@{/usuarios}" th:object="${usuario}" method="post">
    <div>
        <label>Usuário:</label>
        <input type="text" th:field="*{username}" required/>
    </div>
    <div>
        <label>Senha:</label>
        <input type="password" th:field="*{password}" required/>
    </div>
    <button type="submit">Salvar</button>
</form>

<p><a th:href="@{/}">Voltar</a></p>
</body>
</html>
