<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Lista de Usuários</title>
</head>
<body>
<h2>Usuários Cadastrados</h2>

<table border="1">
  <thead>
  <tr>
    <th>ID</th>
    <th>Username</th>
    <th>Roles</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="u : ${usuarios}">
    <td th:text="${u.id}"></td>
    <td th:text="${u.username}"></td>
    <td>
      <span th:each="r : ${u.roles}" th:text="${r.nome}">ROLE</span>
    </td>
  </tr>
  </tbody>
</table>

<p><a th:href="@{/}">Voltar</a></p>
</body>
</html>
