<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Cadastro de Moto</title>
  <link rel="stylesheet" th:href="@{/assets/css/global-styles.css}">
</head>
<body>
<header th:replace="fragments/header :: header"></header>

<div class="container">
      <h1>Cadastro de Moto</h1>

      <form th:action="${moto.placa} != null ? @{/motos/{placa}(placa=${moto.placa})} : @{/motos/salvar}"
            th:object="${moto}" method="post">
        <!-- Placa -->
        <div>
          <label for="placa">Placa:</label>
          <input type="text" id="placa" th:field="*{placa}" placeholder="ABC1D23"/>
          <span th:if="${#fields.hasErrors('placa')}" th:errors="*{placa}"></span>
        </div>

        <!-- Modelo -->
        <div>
          <label for="modelo">Modelo:</label>
          <select id="modelo" th:field="*{modelo}">
            <option value="">Selecione</option>
            <option th:value="SPORT">SPORT</option>
            <option th:value="POP">POP</option>
            <option th:value="ELETRICA">ELÉTRICA</option>
          </select>
          <span th:if="${#fields.hasErrors('modelo')}" th:errors="*{modelo}"></span>
        </div>

        <!-- Marca -->
        <div>
          <label for="marca">Marca:</label>
          <input type="text" id="marca" th:field="*{marca}" placeholder="Honda"/>
          <span th:if="${#fields.hasErrors('marca')}" th:errors="*{marca}"></span>
        </div>

        <!-- Status -->
        <div>
          <label for="status">Status:</label>
          <select id="status" th:field="*{status}">
            <option value="">Selecione</option>
            <option th:value="LIGADO">LIGADO</option>
            <option th:value="DESLIGADO">DESLIGADO</option>
            <option th:value="MANUTENCAO">MANUTENÇÃO</option>
            <option th:value="DISPONIVEL">DISPONÍVEL</option>
          </select>
          <span th:if="${#fields.hasErrors('status')}" th:errors="*{status}"></span>
        </div>

        <!-- Pátio -->
        <div>
          <label for="patioId">ID do Pátio:</label>
          <input type="number" id="patioId" th:field="*{patioId}" min="1"/>
          <span th:if="${#fields.hasErrors('patioId')}" th:errors="*{patioId}"></span>
        </div>

        <!-- Tag -->
        <div>
          <label for="tagId">ID da Tag:</label>
          <input type="number" id="tagId" th:field="*{tagId}" min="1"/>
          <span th:if="${#fields.hasErrors('tagId')}" th:errors="*{tagId}"></span>
        </div>

        <button type="submit">Salvar</button>
        <a th:href="@{/motos}">Cancelar</a>
      </form>
</div>


<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>
