<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Patios</title>
    <link rel="stylesheet" th:href="@{/assets/css/global-styles.css}" />
</head>
<body>
<header th:replace="fragments/header :: header"></header>

<div class="container">
    <h1>Lista de Patios</h1>

    <a class="btn" th:href="@{/patios/novo}">+ Novo Patio</a>

    <table border="1" cellpadding="8" cellspacing="0">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Largura</th>
            <th>Comprimento</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="patio : ${patios}">
            <td th:text="${patio.id}"></td>
            <td th:text="${patio.nome}"></td>
            <td th:text="${patio.largura}"></td>
            <td th:text="${patio.comprimento}"></td>
            <td>
                <a class="btn" th:href="@{|/patios/${patio.id}/editar|}">Editar</a> |
                <a class="btn" th:href="@{|/patios/${patio.id}/excluir|}">Excluir</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>


<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>
