<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home - Mottu</title>
    <link rel="stylesheet" th:href="@{/assets/css/global-styles.css}">
</head>
<body>
<header th:replace="fragments/header :: header"></header>

<div class="container">
    <h2>Bem-vindo à Plataforma Mottu</h2>
    <p>Gerencie Filiais, Pátios e Motos de forma simples e moderna.</p>
    <a class="btn" th:href="@{/filiais}">Ver Filiais</a>
</div>

<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>
