<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Patios</title>
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<h1 th:text="${#fields.hasErrors()} ? 'Corrija os erros abaixo' : ( ${patio.id} != null ? 'Editar Patio' : 'Novo Patio')"></h1>

<form th:action="@{/patios/salvar}" method="post" th:object="${patio}">

    <!-- Nome -->

    <div>
        <label for="nome">Nome:</label>
        <input type="text" id="nome" th:field="*{patio.nome}" required>
        <span th:if="${#fields.hasErrors('patio')}" th:errors="*{patio.nome}"></span>
    </div>



    <!-- Cidade -->
    <div>
        <label for="largura">Largura:</label>
        <input type="text" id="largura" th:field="*{patio.largura}" required>
        <span th:if="${#fields.hasErrors('patio')}" th:errors="*{patio.largura}"></span>
    </div>

    <!-- Comprimento -->
    <div>
        <label for="comprimento">Comprimento:</label>
        <input type="text" id="comprimento" th:field="*{patio.comprimento}">
        <span th:if="${#fields.hasErrors('comprimento')}" th:errors="*{patio.comprimento}"></span>
    </div>

    <div>
        <button type="submit">Salvar</button>
        <a th:href="@{/patios}">Cancelar</a>
    </div>
</form>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
